<h2>Edit this movie ✏️</h2>
{{#with movie}}
	<form action="/movies/{{id}}" method="POST">
		<label for="title">Title: </label>
		<input type="text" name="title" id="title" value="{{title}}">

		<label for="genre">Genre: </label>
		<input type="text" name="genre" id="genre" value="{{genre}}">

		<label for="plot">Description: </label>
		<input type="text" name="plot" id="plot" value="{{plot}}">

		<label for="cast">Cast</label> 
                <select id="cast" name="cast" multiple>
                    {{#each celebrities}}
      					{{{selector ../movie}}}
    				{{/each}}
					{{{options}}}
                </select>

		<button type="submit">Update this Movie 🖋</button>
	</form>
{{/with}}