<h2>This is the movies Page 📽</h2>
{{#each moviesList}}

	<h3>Title: {{title}}</h3>
	<p>Genre: {{genre}}</p>
	<p>Plot: {{plot}}</p>
	{{#each cast}}
		<a href="/celebrities/{{id}}">
		<p>{{name}}</p>
	</a>
	{{/each}}

	<form action="/movies/{{id}}/edit" method="GET">
  		<button type="submit">Edit movie</button>
  	</form>
	  
{{/each}}

<a href="/movies/new">Add a new movie to the database</a>
